:root {
  font-size: $font-root;
}

html, body {
  margin: 0;
  padding: 0;
  line-height: 1.3rem;
  background: $bg-color;}

* {
  box-sizing: border-box;
}

/** MENU **/

header { 
  background-color: $bg-color-menu;
  height: 6rem;
}

ul {
  float: right;
  display: flex;
  justify-content: flex-end;
  margin-left: 9rem;

  li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: $font-color-menu;
  font-family: $font-family-menu;
  padding: 1.2rem; }

  li a:hover { color:$font-color-menu-hover;
  font-size: 2rem;
  transition: 1s;}
}

.menu-resposive {
margin-left: 5rem;
float: left;

  li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: $font-color-menu;
  font-family: $font-family-menu;
  padding: 1.2rem; }

  li a:hover { color:$font-color-menu-hover;
  font-size: 2rem;
  transition: 1s;}

}

/**HOME**/

main {
  height: 28rem;
  margin: 3rem ;
  padding-left: 2rem;
}

#main-titulo { 
  text-align: left ;  
  margin-left: 2.5rem;
  font-size: 3rem;
  font-weight: bolder;
  color: $font-color-titulos;
  font-family: $font-family-titulo;
}

.main-parrafo {margin-left: 2.5rem; margin-top: 1rem;}

.main-size {height: 500px;}

a b {
  font-size: 1.5rem;
  margin-left: 3rem;
  display: block;
  font-style: italic;
  height: 3rem;
}

a {
  text-decoration: none;
  color: black;
}


h2 {
  font-size: 2.5rem;
  color: $font-color-titulos ;
  font-family: $font-family-titulo;
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  font-weight: bolder;
}

dl {
  font-style: italic;
  font-size: 1rem;
  margin: 1rem 6rem 3rem 6rem;
  text-align: justify;
}

form { 
  margin-top: 7rem;
  margin-left: 8.5rem;
  height: 22rem;
  width: 27rem ;
}

label { 
  display: none
}

button a {color: $font-color-button;}

.banner {margin-top: 1rem;}

.banner-scale:hover { 
  transform: scale(1.1); 
  transition: 1s
}
.boton { 
  margin-top: 15px;
  background-color: $bg-button;
  border-radius: 5%;
  height: 40px;
}

.boton-font {color: white;}

.banner-carrousel {position: relative; left: 100px;}

.contacto { 
  display: flex;
  flex-direction: column;
  float: right;
  margin-right: 8rem;

 p { 
  padding-top: 4rem; 
  font-size: 1.2rem;
  text-align: justify;
  width: 600px;}
}

.contacto-fondo {
  width: 1349px;
  height: 900px;
}

.contacto-titulo {
  margin: 0px 0px 3rem 9rem;
  font-size: 3rem;
  color: $font-color-titulos ;
  font-family: $font-family-titulo;
  text-align: left;
  font-weight: 600;
  padding-top: 4rem;}

.discografia {
  display: flex;
}

.fondo-miembros {
  background-color: $bg-color-divisor;
  margin-top: 3rem;
}

.focus-ent:focus { 
  width: 436px; 
  height: 310px; 
  transition: 1s;
}

.imagen-home {
  display: flex;
  justify-content: end;
  top: 10rem;
  left: 0px ;
  padding-top: 1rem;
}

.img-entrevista {
  margin: 3rem 4rem;
  height: 60rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.img-entrevista div img { 
  margin: 2rem;
}

.img-novedades { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.img-novedades {
  img {
  padding-right: 2rem;}
}
  
#influencias{ margin-bottom: 120px; }

.container:hover .overlay {
  opacity: 1; }

.overlay {
  opacity: 0;
  transition: 1s ;
  position: absolute;
  background-color: $bg-color-menu;
  color: whitesmoke;
  width: 282px;
  height: 220px;
  margin-top: 0px;
}


.overlay1 {
  @extend .overlay;
  margin-left: 16px;
}

.overlay2 {
  @extend .overlay;
  margin-left: 63px;
}

.mayo-ent-img { 
  margin-left: 30rem;
  margin-bottom: 3rem 
}

.miembros-container-grid p { width: 200px; margin: 20px 30px; text-align: center}

.novedades {
  height: 34rem;
  margin-bottom: 4rem;
  background-color: $bg-color-divisor}

.tabla { 
  height: 505px;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.table-uno {
  border: 2px solid $font-color-tabla; 
  float: right; 
  margin-top: 2rem;
  margin-right: 10rem; 
  margin-bottom: 10rem;
}

.table-uno td { 
  border: 2px solid $font-color-tabla;
}

.table-dos {
  Border: 2px double $font-color-tabla; 
  float: right; 
  margin: 6rem 3rem;

  td {
    border: 2px solid $font-color-tabla;
  }
}


.titulos {
  font-size: 3rem;
  padding-top: 2rem;
  color: $font-color-titulos ;
  font-family: $font-family-titulo;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.titulo-entrevistas {
  font-size: 2rem;
  color: $font-color-titulos ;
  font-family: $font-family-titulo;
  text-align: left;
  padding: 2rem 0px;
  margin-left: 6rem;
}



/** FOOTER**/

footer {
  background-color: $bg-color-menu;
  width: 100%;
  height: 4rem;
  display: flex;

  div p {
  color: $font-color-menu;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: lighter;
  font-family: $font-family-menu;
  padding-top: 4px;

  > div { 
  width: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-top: 1.3rem; } 
}

.footer-uno { 
  display: flex;
  width: 800px;
  height: 30px;
  margin-right: 15rem;
} 

.footer-dos { 
  display: flex;
  width: 200px;
}

.icono-fb { color: white; margin-top: 5px;}

.icono-tw { 
  color: white; 
  margin: 5px 1rem;}
}