/*colores*/
$bg-color: linear-gradient(#f5ccd4, #fcf1ef , #dacde7);;
$bg-color-menu: #000008;
$bg-color-divisor: #E6DCF0;
$bg-color-disco: #C8C2EB ;    
$font-color-menu: #c2a0ff;
$font-color-menu-hover:  #d1b8ff;
$font-color-titulos: #7547ca;
$font-color-tabla: #7547ca;

/*fuentes*/
$font-family-menu: ''Lato', sans-serif';
$font-family-titulo: 'Libre Caslon Display', serif;
$font-root: 18px;

/*botones*/
$bg-button: #C79DE2;
$font-color-button: #FFFFFF;
