/*colores*/
$bg-color: #F5F5F5;
$bg-color-menu: #000008;
$bg-color-divisor: #E6DCF0;
$bg-color-disco: #C8C2EB ;    
$font-color-menu: #c2a0ff;
$font-color-menu-hover:  #d1b8ff;
$font-color-titulos: #7547ca;
$font-color-tabla: #7547ca;

/*fuentes*/
$font-family-menu: ''Lato', sans-serif';
$font-family-titulo: 'Libre Caslon Display', serif;
